@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #f1f1f1;
  background: #0f0f0f;
  font-family: 'Roboto', 'Arial', sans-serif;
}

html {
  background: #0f0f0f;
}

.appear {
  animation: appear 300ms ease-in forwards;
}

.pulse {
  animation: pulse 1s infinite;
}

#inline_checkout .custom-element__iframe {
  margin: -10rem 0 0 0;
}

.custom-element__iframe {
  overflow: hidden !important;
}

.hotmartCheckout .custom-element__iframe {
  margin: 4rem 0 0 0; /*  UPSELL BLACK */
}

/* ANIMATIONS */

@keyframes appear {
  0%      { opacity: 0%; }
  100%    { opacity: 100%; }
}

@keyframes pulse {
  0%      { transform:scale(.98) }
  50%     { transform:scale(1.02) }
  100%    { transform:scale(.98) }
}